include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include nton_app *.css
recursive-include nton_app *.csv
recursive-include nton_app *.html
recursive-include nton_app *.ico
recursive-include nton_app *.js
recursive-include nton_app *.json
recursive-include nton_app *.md
recursive-include nton_app *.png
recursive-include nton_app *.py
recursive-include nton_app *.svg
recursive-include nton_app *.txt
recursive-exclude nton_app *.pyc